APP_DOMAIN=http://0.0.0.0:8910
SESSION_SECRET=abc123
DATABASE_URL=postgres://dev:letmein@0.0.0.0:5432/oauth2-client-redwood?connection_limit=1

# NOTE: Must be explicit with the environment
ENVIRONMENT=dev

##########################
#### OAUTH2 PROVIDERS ####
##########################
#### Node OIDC Provider
NODE_OIDC_API_DOMAIN=https://node-oidc-provider-example.vercel.app
NODE_OIDC_CLIENT_ID=123
#### OAuth2 Server Redwood
OAUTH2_SERVER_REDWOOD_API_DOMAIN=https://oauth2-server-redwood.vercel.app
OAUTH2_SERVER_REDWOOD_CLIENT_ID=123
OAUTH2_SERVER_REDWOOD_CLIENT_SECRET=somesecret
#### Discord
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
